*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.father{
    background-color: tomato;
}
.header{
    background: rgb(43, 43, 43);
    height: 70px;
    display: flex;
}
    .header .logo{
        padding: 10px 0px 10px 25px;
        display: flex;
    }
        .header.logo img{
        width: 180px;
        }
            .logo img:hover{
                filter: invert(0%) sepia(0%) saturate(12%) hue-rotate(206deg) brightness(104%) contrast(103%);
                transition: 0.4s;
            }
    .header .nav{
        padding: 15px 0px 10px 45px;
        margin: 5px;
    }
        .header .nav a{
            color: #fff;
            margin: 7px;
            background: rgb(77, 77, 77);
            padding: 15px 17px;
            border-radius: 10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
            .nav a:hover{
                background: rgb(36, 36, 36);
                transition: 0.3s;
            }    
    .header .search{
        padding: 7px 10px 10px 15px;
        background: orange;
        border-radius: 100px;
        margin: 15px;
        height:40px;
    }
        .search .buscar-texto{
            margin: 4px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: none;
            background: none;
            outline: none;
            color: #fff;
            font-size: 15px;
            float: left;
            line-height: 10px;
            transition: .3s;
            width: 155px;
        }
            .search .boton{
                margin: 15px;
                text-decoration: none;
                width: 40px;
                height: 40px;
                color: #fff;
                font-size: 25px;
            }
        /* .search:hover > .buscar-texto{
            width: 170px;
        } */
.section{
    margin: 50px;
    }
    .tool{
        border-left: 5px  solid orange;
        padding: 10px 0px 0px 10px;
    }
        .to{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .to i{
            padding: 0px 5px 0px 0px;
        }
    .nv{
        margin: 40px;
        background: rgb(43, 43, 43);
        border-radius: 50px;
    }
        .ab{
            padding: 15px;
            display: flex;
            justify-content: space-between;
        }
        .ab a{
            padding: 10px;
            color: #fff;
        }
        .ab a:hover{
            color: #fff;
            background: rgb(77, 77, 77);
        }
    .mo{
        padding: 20px 1px 20px 1px;
        /* background: yellow; */
        display: flex;
        flex-direction: column;
        
    }
        .mo .re{
            display: flex;
            justify-content: space-between;
            padding: 0px 0px 3vh 0px;
        }
            .re .con{
                display: flex;
                background: rgb(255, 153, 0);
                border-radius: 10px;
                padding: 10px;
                width: 43vh;
                height: 32vh;                         
            }
                .con .ge{
                    padding: 0px 12px 5px 0px;
                }  
                .con .letra{
                    padding: 0px 5px 0px 0px;
                }
                    .letra h3{
                        text-align: center;
                        padding: 0px 0px 10px 0px;
                    }
                    .letra .fecha{
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        padding: 3px 0px 10px 5px ;
                    }
                            .fecha .cha{
                                font-size: x-small;
                                padding: 0px 2px;
                            }
                    .letra .barra{
                        display: flex;
                        justify-content: flex-start;
                        align-items:center;
                        padding: 1px 0px 15px 0px;
                    }
                        .barra .Emi{
                            font-size: small;
                            margin: 5px;
                            margin-right: 10px;
                            padding: 5px 1.1vh 5px 1vh;
                            background: red;
                            border-radius: 5px;
                        }
                        .barra .Anime{
                            font-size: small;
                            margin: 5px;
                            padding: 5px 1.1vh 5px 1vh;
                            background: rgb(105, 105, 105);
                            border-radius: 5px;
                        }
                    .letra .var{
                        width: 180px;
                        background: none;
                        height: 110px;
                    }
                        .var{
                            overflow: hidden;
                            overflow-y: scroll;
                        }
                        .var::-webkit-scrollbar{
                            width: 3.5px;
                        }
                        .var::-webkit-scrollbar-thumb{
                            background: rgb(255, 153, 0);
                            border-radius: 50px;
                        }
            .con:hover{
                background: rgb(43, 43, 43);
                color: rgb(228, 228, 228);
                transition: .5s;
            }
    .next{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        margin: 5vh;
        padding: 5vh 0vh 5vh 0vh;
    }
        .next .icon{
            background: yellow;
            color: #000;
            padding: 30px;
            border-radius: 2vh;
        }
            .icon i{
                padding: 10px;
            }
            .icon:hover{
                background: rgb(43, 43, 43);
                color: #fff;
                transition: 0.4s;
            }
                              
.pie{                   
    background: rgb(43, 43, 43);
    height: 200px;
}
    .social{
        color: #fff;
        display: flex;
        justify-content: space-between;
    }
        .social .media{
            display: flex;
            flex-direction: column;
            padding: 15px 0px 0px 35px;
        }
            .media h4{
                padding: 0px 0px 5px 0px;
            }
            .media a{
                color: #fff;
                padding: 6px 0px;
            }
            .media i{
                padding: 0px 5px 0 0px;
            }
                a:hover{
                    color: tomato;
                }
    .social .men{
        margin: 3px; 
        padding: 80px 0px 0px 16%;
    }
        .men a{
            color: #fff;
            margin: 8px;
            background: rgb(77, 77, 77);
            padding: 15px 17px;
            border-radius: 10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
            .men a:hover{
                background: rgb(36, 36, 36);
                transition: 0.3s;  
            }
    .text{
        margin: 2px;
        
    }
        .all{
            color: rgb(255, 197, 36);
            padding: 50px 5px 0px 0px;
        }    